html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: #e3f1f7;
}

/* main page */

.list-books-title {
  padding: 10px 0px;
  background: #812323;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: black;
  z-index: 999;
  position:sticky;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf{
  padding: 0 55px 0px;
}



@media (min-width: 600px) {
  .bookshelf {
    padding: 0 55px 0px;
  }

}



.bookshelf-title {
  border-bottom: 1px solid #95cefd;
}
.bookshelf-books {
  text-align: left;
}


/* add sign */
.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5cb4fc;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-image ;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.08, 0.79, 0.58, 1);
  box-shadow: 0 3px 6px rgba(92, 7, 7, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

.open-search a:hover{
  background: #abd4f8;
  background-image: url("./icons/icons8-plus-96.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-image ;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.08, 0.79, 0.58, 1);
}

.list-books{

  overflow: hidden;

}

/* search page */
.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199), 0 0 6px rgba(0, 0, 0, 0.23);
  left: 0;
  right: 0;
}
.search-books-input-wrapper {
  width: 100%;
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.close-search:hover{
  background: #0000003f;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px;
}
.search-books-results {
  padding: 41px 10px 20px;
}




/* books grid */

.books-grid {
  list-style-type: none;
  padding: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  width: 140px;
  margin:20px
}
.book-title,
.book-authors,
.book-details {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  line-height: 2em;
}
.book-authors , .book-details{
  color: rgb(94, 92, 92);
}

.book-top {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #235781;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}




/* styling for disable any courser touches on h1, h2 */
h1
,h2,
.disabled-option{
  pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.info-list{
  text-align: left;
  padding:0px ;
  margin:0px;
}
ul.info-list{
  text-align: left;
  padding:0px ;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: -272px;
  margin-left: 6px;
}

.links a:link, .links a:visited {
  color: rgb(94, 92, 92);
  padding: 6px;
  margin: 5px;
  text-decoration: none;
  border: 2px solid rgb(128, 128, 128);
}

.links a:hover, .links a:active {
  color: rgb(94, 92, 92);
  text-decoration: underline;
  
}

.links{
  margin-top: 10px;
  margin-left: -15px;
}

@media (max-width: 700px) {
  html{
    width: 100%;
  }
  body{

    margin: 0;

  }
  .list-books-title{
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .bookshelf{
    padding: 0;
  }
  .book-title,
  .book-authors,
  .book-details,
  a,li,ul, h3{
  font-size:12px;
  }
  li.book-in-search>div>div>ul.info-list > li{
    font-size: 10px;
  }
  li.book-in-search>.book{
    margin: 0;
    width: 77px;
  }
  li.book-in-search>div>div>.book-shelf-changer{
    width: 27px;
    height: 27px;
  }
  li.book-in-search>div>div>.book-cover{
    width: 100px !important;
    height: 190px!important;
    -webkit-box-shadow: -19px 7px 21px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -19px 7px 21px 5px rgba(0,0,0,0.33);
    box-shadow: -19px 7px 21px 5px rgba(0,0,0,0.33);
  }
  .search-books-bar{
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}